<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update details</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="id_name">Name: </label>
        <input type="text" name="name" id="id_name" value="{{customer.name}}">
        <br><br>
        <label for="id_mobile">Phone No. </label>
        <input type="tel" name="mobile" id="id_mobile" value="{{customer.mobile}}">
        <br><br>
        <label for="id_email">Email id: </label>
        <input type="email" name="email" id="id_email" value="{{customer.email}}">
        <br> <br>
        <input type="submit" value="update">
    </form>
</body>
</html>