<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Customers</title>
</head>
<body>
    <h1>Following customers registered successfully.</h1>
    {% if customers %}
    <table align="center" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>MOBILE</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.mobile}}</td>
                <td>{{customer.email}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No customers found.</p>
    {% endif %}
</body>
</html>