<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Customers</title>
</head>
<body>
    <h1>Following customers registered successfully.</h1>
    <a href="/customer/register"><button>Register New Customer</button></a>
    {% if customers %}
    <table align="center" border="1" cellspacing="0" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Phone No.</th>
                <th>Email ID</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.mobile}}</td>
                <td>{{customer.email}}</td>
                <td>
                    <a href="/customer/update/{{customer.id}}"><button>Update</button></a>
                    <a href="/customer/delete/{{customer.id}}"><button>Delete</button></a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No customers found.</p>
    {% endif %}
</body>
</html>